<div class="container align-self-center">
<div class="col-lg-4 col-lg-offset-3">
<h1>Coaching answer</h1>


<h2>You said :</h2>
<p><%= @question %></p>


<h2>Your coach answered :</h2>
<p><%= @answer %></p>

<h2><%= link_to "ask another question", ask_path %></h2>
</div>
</div>
