
<div class="col-lg-4 col-lg-offset-3">
<h1>Coaching ask</h1>
<br>
<form action="/answer" class="form-inline">
  <div class = "form-group">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="question" placeholder="what time is it?">
  </div>
    <input type="submit" value="Go!" class="btn btn-primary">
</form>
</div>
